{% extends 'base.html.twig' %}

{% block body %}
<div class="function__mgt-add">
					<h5 class="text-uppercase text-center mt-3">
					{% set total = teachers|length %}
    				{% if total <= 1 %}
        			Total teacher :
    				{% else %}
        			Total teachers :
    				{% endif %}
        			{{ total }}</h5>
<a class="btn btn-primary" href="{{path('teacher_add')}}">ADD</a>
<form action="{{ path('teacher_search')}}" method="post">
	<input class="m-lg-1" type="search" name="name" id=""><button class="btn btn-warning p-1 m-lg-2" type="submit">Search</button>
</form>
<div>
<table class="table table-bordered">
<tr> 
<th>ID</th>
<th>Name</th>
<th>Avatar</th>
<th>Class
{# <select onchange="window.location.href=this.value">
    <option value="">Filter</option>
    {% for c in classes %}
    <option value="{{path('teacher_filter', {'id' : c.id })}}">{{c.ClassID}}</option>
    {% endfor %}
</select> #}
</th>
<th>Menu</th>
</tr>
{% for t in teachers %}
<tr>
<td>{{t.id}}</td>
<td>{{t.name}}</td>
<td><a href="{{path('teacher_detail',{'id':t.id})}}"><img src="{{asset('images/teachers/'~t.avatar)}}" width="150" height="150"></a></td>
<td>{% for c in t.classroom %}
{% if c != null %}
<a href="{{path('classDetail',{'id':c.id})}}">{{c.ClassID}}</a>
{% endif %}
{% endfor %}</td>
<td><a class="btn btn-warning" href="{{path('teacher_edit',{'id':t.id})}}">Edit</a>
<a class="btn btn-danger" href="{{path('teacher_delete',{'id':t.id})}}">Delete</a></td>
</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}
